.header {
    display: flex;
    justify-content: space-between;
    a {
        display: block;
        padding: 1.4rem;
        color: #333;
        font-size: 2.4rem;
        &:hover {
            text-decoration: underline;
        }
    }
    &__wrap {
        display: flex;
        li {
            margin: 0 0.4rem;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .header {
        a {
            color: #fff;
        }
    }
}
